body, html {
    height: 100%;
    margin: 0;
    padding:0;
    width: 100%;
}
.todo-details {
    display:flex;
    flex-direction:column;

    header {
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        padding:.5em 1em;
    }

    .item {
        flex:1;
        padding: 1em;
    }

}

#card-container {
    display: flex;
    justify-content: center;

    #form-list-body {
        width: 80%;
    }

    #form-container {
        border: 1px solid rgb(228, 228, 228);
        padding: 1rem 0 1rem 1rem;
        margin-right: 2rem;

        h3 {
            margin-bottom: 1rem;
        }
    
        form {
            button {
                width: fit-content;
            }
    
            .form-group {
                margin: 0 0 1rem;
            }
        }
    }
}



.todo {

    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    margin: 2em;
    
    .list-group{
        width: 400px;

        .card{
            width: 100%;
            margin-bottom: 1rem;

            .card-header {
                display: flex;
                align-items: center;
                justify-content: space-between;

                .complete-true {
                    background-color: #F93154;
                    border-radius: 10px;
                    align-self: center;
                  }
                .complete-false {
                    background-color: #00B74A;
                    border-radius: 10px;
                    align-self: center;
                }

                button {
                    justify-content: flex-end;
                    background: none;
                    border: none;
                    color: grey;
                    font-weight: bolder;
                }
                button:hover {
                    color: black;
                }
            }

            #difficulty {
                text-align: end;
                color: grey;
            }
        }    
    }
    
    form {

        display:flex;
        flex-direction:column;
        margin-right: 2em;

        label {
            display: flex;
            flex-direction:column;
            margin-bottom: 1em;
        }
    }
}
